{% extends 'base.html' %}

{%block title%}Login Page {% endblock %}

{%block body %}

<h1>Welcome to the login page!</h1>

<h2>Provide an email and password to create account</h2>
<form action="/users" method="POST">
  <p>
    Name <input type="text" name="name">
  </p>

    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>


  <h2>Returning User? Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}